@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  padding: 0;
  margin: 0 auto;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* Header */

header {
  box-sizing: border-box;
  height: 5vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  padding: 0.5rem;
}

header img {
  width: 12vw;
}

.header-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-menu-item {
  margin-left: 2vw;
}

header a {
  color: #023047;
  font-size: 2vw;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.5s ease;
}

header a:hover {
  color: #8ecae6;
  transform: scale(1.2);
  background-color: none;
  text-decoration: none;
}

.language-switch {
  padding-right: 1vw;
  display: flex;
}

.language-switch button {
  margin-left: 0.5vw;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.language-switch button img {
  width: 5vw;
  height: 5w;
}

/* About */

.company-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.company-container img {
  width: 100%;
  height: auto;
}

.company-text {
  text-align: justify;
  width: 75%;

  font-size: larger;
  line-height: 2rem;
}

/* Services */

.services-container {
  display: flex;
  align-items: flex-start;
  position: relative;
  height: 30rem;
}

.services-container h2 {
  font-size: larger;
  text-align: start;
}

.services-container .overlay-1,
.services-container .overlay-2,
.services-container .overlay-3 {
  display: flex;
  flex-direction: column;
  top: 0;
  position: absolute;
  flex: 1;
  height: 100%;
  width: 100%;
}

.services-container .overlay-1 {
  background-color: #fb8500;
}

.services-container .overlay-2 {
  background-color: #8ecae6;
  text-align: right;
}

.services-container .overlay-3 {
  background-color: #ffb703;
}

.exoskeleton-image-1,
.exoskeleton-image-2,
.exoskeleton-image-3 {
  flex: 2;
  position: absolute;
  top: 0;
  height: 100%;
  width: 60rem;
  background-size: cover;
}

.exoskeleton-image-1 {
  right: 0;
  background-image: url('images/company_images/exoskeleton_shot_1.png');
  -webkit-mask-image: linear-gradient(to left, black 70%, transparent 100%);
  mask-image: linear-gradient(to left, black 70%, transparent 100%);
}

.exoskeleton-image-2 {
  left: 0;
  background-image: url('images/company_images/exoskeleton_shot_2.png');
  -webkit-mask-image: linear-gradient(to right, black 70%, transparent 100%);
  mask-image: linear-gradient(to right, black 70%, transparent 100%);
}

.exoskeleton-image-3 {
  right: 0;
  background-image: url('images/company_images/exoskeleton_shot_3.png');
  -webkit-mask-image: linear-gradient(to left, black 70%, transparent 100%);
  mask-image: linear-gradient(to left, black 70%, transparent 100%);
}

.text-section-1,
.text-section-2,
.text-section-3 {
  text-align: justify;
  font-size: larger;
  line-height: 2rem;
  width: 20rem;
  padding: 1.5rem;
}

.text-section-2 {
  align-self: flex-end;
}


/* Gallery */
.gallery {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.gallery-image-container {
  display: flex;
  justify-content: center;
}

.gallery img {
  display: none;
  max-width: 90%;
}

.gallery img.active {
  display: block;
}

.gallery a {
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.gallery a img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

.thumbnail {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  cursor: pointer;
}

.thumbnail.active {
  border: 0.2rem solid #fb8500;
}

.hidden {
  visibility: hidden;
}

/* Partners */

.marquee-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.marquee-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 60%, rgb(255, 255, 255) 100%);
  z-index: 2;
}

.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll 15s linear infinite;
  animation-play-state: running;
  animation-direction: normal;
  z-index: 1;
}

.marquee ul {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  gap: clamp(5rem, 3rem, 9rem);
}

.marquee ul li {
  display: inline-block;
  list-style: none;
}

.client-logo img {
  text-align: center;
  max-height: 10rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Contact */
.contact-section {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.contact-info {
  text-align: center;
  flex: 1;
  min-height: 30rem;
}

.contact-form {
  text-align: center;
  flex: 2;
  min-height: 30rem;
}

.contact-form h2 {
  text-align: left;
  padding-left: 6rem;
}

.contact-info img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
}

form {
  margin: auto;
  padding: 1rem;
  width: 40rem;
}

form label {
  text-align: left;
  display: block;
  margin-bottom: 1rem;
}

form input[type=text],
form input[type=email],
form textarea {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

form textarea {
  height: 8rem;
  resize: none;
}

form input[type=submit] {
  margin-top: 0.5rem;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  padding: 0.5rem;
}

.disclaimer {
  text-align: center;
}

.social-media-links {
  padding-right: 2rem;
}

.social-media-links img {
  height: 3rem;
  padding-right: 1rem;
}